@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
     *{            

padding: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
color: black;
}


a {
    text-decoration: none;
    font-family: "jost", sans-serif;
    color: black;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-family:"dm serif display", serif;
    width: 100%;
    

}

h1{
    font-family:"dm serif display", serif;
    font-size: 85px;
}

h3{
    font-family:"dm serif display", serif;
    font-size: 22px;
}

.bold {
    font-weight: 700;
}


.spaceBetween {
    justify-content: space-between;
    
}

.alignCenter {
    align-items: center;

}

.gap20 {

    gap: 20px;
}

.container {
    max-width:1000px;
    margin: auto;
}

.btn{

    background-color: black;
    color: aliceblue;
    padding-left:31px;
    padding-right:31px;
    padding-top:26px;
    padding-bottom:26px;
    display: inline-block;
    border-radius: 18px;
}

.width30{

    width: 30%;
   

}
.width45{
width: 45%;

}


/* HEADER */
.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

header {
    margin-top: 20px;
}

/* SECTION HERO */
.hero {
    background-image: url("asset/Banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0 0 0 200px;
    margin-top: 40;
    padding-top: 100px;
 
}


.phero{
    font-size: 22px;
    margin-top: 40px;

}

/*section devis*/

 .imagesectiondevie{
    border-radius: 0 200px 0 50px;
 }


.iconAppl {
    width: 30px;

}

.psectiondevis{
margin-bottom: 15px;

}


/*sectoin avis client*/
.card {

    background-color: rgb(248, 248, 248);
     padding: 50px;
     border-radius: 15px;
     width: 30%;
}

.sectoinavis {

background-color: rgb(232, 232, 221);
padding-top:100px;
padding-bottom: 100px;


}


.card> div{
width: 75%;

}

.card>img{

    width: 20%;
}

.card>p{
    margin-top: 30px;

}

.nomprofil{
font-family: "dm serif display", serif;
font: size 20px;
    
}

/*sectoin projet*/

.cardprojet{
background-color: rgb(3, 246, 246);

}

.cardprojet > img {width: 100%;
    margin-bottom: ;
display: flex;
align-items: center;
justify-content: center;
}

.cardprojet>a{

    background-color: rgb(171, 171, 171); 
    width: 70px; ; 
    height: 70px;
    border-radius: 100px;
}


.containercardprojet{
    margin-top: 50px;
}